<div class="caff-list-container">
  <h1>Caffs</h1>


  <div class="container" >
    <div class="row justify-content-center">
      <div *ngIf="!caffList" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div class="card col-3" *ngFor="let caff of caffList">
        <h2 class="card-title"> {{caff.name}}</h2>
        <div class="preview-container">
          <div *ngIf="!caff.preview" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <img *ngIf="caff.preview" class="card-img-top preview-image" [src]="caff.preview" alt="Preview of caff"/>
        </div>

        <div class="card-body">
          <a [routerLink]="['/caff', caff.id]" class="btn btn-primary">Részletek</a>
        </div>
      </div>
    </div>

    <div class="file-upload-container">
      <form>
        <input type="file"    accept=".caff" id="file" required="" (change)="handleFileInput($event.target.files)">
        <input [disabled]="uploading" type="submit" value="Import File" id="" (click)="uploadFile()"/>
      </form>
      <span *ngIf="uploading" class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </span>
    </div>

  </div>
</div>
